

.sidebar-container {
  //border: 1px solid red;
  //margin-top: 50px;

  @include mobile {
  	margin-top: 50px;
  }

.search-form {
	
    
	fieldset {
		border: none;
		margin-left: -10px;

		@include mobile {
			margin: auto;
			width: 260px
		}

	
	.icon-search {
		display: none;
	}
	.fa-search {
		display: none;
	}

	::-webkit-input-placeholder {
        color: transparent;
    }

	.search-field {
		width: 210px;
		height: 29px;
		border: 1px solid #1b2522;
		border-radius: 0;
		outline: none;

		@include mobile {
		width: 168px;

	    }

	    @include tablet {
		width: 160px;

	    }
	}

	

	button {
		height: 37px;
		width: 73.2px;
		margin-left: -5px;
		border: 1px solid #1b2522;
		background: #fbd35b;
		box-shadow: none;
		font-size: 14px;
		font-weight: 600;
		position: relative;
		top: 1px;
		border-radius: 0;

		@include mobile {
		   width: 62px;
		   top: 0;
	    }

	    @include large {
           top: 0;
	    }
	}//button

	

	button:before {
		content: "Search";
		position: relative;
		right: 5px;

		@include mobile {
			font-size: 12px;
		}

	}
	}//fieldset
}//.search-form
  .form {
  	//border: 1px solid red;
  	height: 37px;
  	width: 290px;
  	display: flex;


  	.search-field {
  		height: 37px;
  		width: 210px;
  		border: 1px solid #1b2522;
  		outline: none;
  		//box-shadow: none;
  		//background: transparent;
  	}//.search-field

  	.sub-btn {
  		height: 37px;
  		width: 73.2px;
  		margin-left: -5px;
  		padding-top: 6.5px;
  		display: flex;
  		justify-content: center;
  		border-radius: 0;
  		border: 1px solid #1b2522;
  		background-color: #fbd35b;
  		box-shadow: none;
  		font-size: 14px;
  		font-weight: 600;
  	}

  	
  }//.searchform

  @include desktop {
	width: 315px;
  }

  @include mobile {
		
		& h1 {
			margin-top: 30px;
			background: #fff;
			font-size: 22px;
			font-family: 'Montserrat';
		}

		& h2 {
			font-size: 18px;
		    text-align: center;
		    font-family: 'Montserrat';
	    }

	    & p {
		    font-size: 14px;
	    }
	    
	}//mobile

	@include desktop {

	& h1 {
		margin-top: 30px;
		background: #fff;
		font-size: 36px;
		font-family: 'Montserrat';
	}

	& h2 {
		text-align: left;
		font-size: 21px;
		font-family: 'Montserrat';
	}

	& p {
		font-size: 16px;
		text-align: left;
	}

	}//desktop

	@include tablet {

	& h1 {
		margin-top: 30px;
		background: #fff;
		font-size: 36px;
		font-family: 'Montserrat';
	}

	& h2 {
		text-align: left;
		font-size: 21px;
		font-family: 'Montserrat';
	}

	& p {
		font-size: 16px;
		text-align: left;
	}

	}//tablet
  & span {
  	display: block;
  	line-height: 35px;

  	@include mobile {
  		text-align: center;
  	}
  }

  .tags {

  	
      & a {
      	//border: 1px solid red;
       	color: #000;
    	text-decoration: none;

    	&:hover {
    		text-decoration: none;
    	}

    	& p {
    		border: 1px solid #000;

    	}
       }//a

       .tags-wrapper {
       	display: flex;
       	flex-direction: row;
       	flex-wrap: wrap;
       	justify-content: space-around;

       	& p {
       		padding: 6px 12px;
       	}
       }
    	
    
  }//.tags
	
}//.sidebar-container